@{
    ViewBag.Title = "絕地求生 優化筆記";
}

<div id="ReadView"></div>
<div id="AddView"></div>
<div id="EditView"></div>
<div id="ErrorView"></div>

@section scripts{
    <script>
        $(document).ready(function () {
            ReadView();
        });

        function HideView()
        {
            $("#ReadView").hide();
            $("#AddView").hide();
            $("#ErrorView").hide();
            $("#EditView").hide();
        }

        function ReadView()
        {
            HideView();

            $.ajax({
                url: '@Url.Action("Read")',
                type: 'POST',
                dataType: "html",
                data: {
                },
                cache: false,
                success: function (result) {
                    $("#ReadView").html(result);
                    $("#ReadView").show();
                },
                error: function (result) {
                    $("#ErrorView").html(result.responseText);
                    $("#ErrorView").show();
                },
            });
        }
    </script>
}